In [ ]:
'''
Q1) What are data structures, and why are they important?
Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. 
They are important because they enable efficient data management, retrieval, and manipulation, which are critical for writing optimized and scalable programs.
'''

In [1]:
# Q2)Explain the difference between mutable and immutable data types with examples.
# Mutable data types can be changed after creation. Examples include lists, dictionaries, and sets.
a=[1,2,4,5]
a[1]='abhi'
print(a)
# Immutable data types cannot be changed after creation. Examples include integers, strings, and tuples
b=(1,2,4,5)
b[1]='abhi'
print(b)

[1, 'abhi', 4, 5]

<class 'TypeError'>: 'tuple' object does not support item assignment

In [ ]:
# Q3)What are the main differences between lists and tuples in Python?
# Lists are mutable, while tuples are immutable.

# Lists use square brackets [], while tuples use parentheses ().

# Lists are typically used for collections of items that may change, while tuples are used for fixed collections.

In [ ]:
# Q4) Describe how dictionaries store data.?
# Dictionaries store data as key-value pairs. Each key is unique and maps to a value, allowing for fast lookups, insertions, and deletions.

In [ ]:
#Q5) Why might you use a set instead of a list in Python?
# You might use a set when you need to store unique elements and perform operations like union, intersection, or difference. Sets also provide faster membership tests compared to lists.

In [3]:
# Q6) What is a string in Python, and how is it different from a list?
# A string is a sequence of characters and is immutable. A list is a sequence of elements (of any type) and is mutable. For example:
a='hello' #immutable 
b=['h','e','l','l','o'] #mutable

In [ ]:
# Q7) How do tuples ensure data integrity in Python?
# Tuples are immutable, meaning their contents cannot be changed after creation. This ensures that the data remains consistent and unaltered throughout the prograM.

In [ ]:
# Q8) What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables, which allows for fast lookups, insertions, and deletions.

In [6]:
#  Q9) Can lists contain different data types in Python?
# Yes, lists in Python can contain elements of different data types. For example:
A=[1,5,55,'abhi',5.5,True]
print(A)

[1, 5, 55, 'abhi', 5.5, True]

In [ ]:
# Q10) Explain why strings are immutable in Python.?
# Strings are immutable to ensure security (e.g., preventing unintended changes) and efficiency (e.g., allowing optimizations like string interning).

In [ ]:
# Q11) What advantages do dictionaries offer over lists for certain tasks?

In [7]:
# Q12) How do sets handle duplicate values in Python?
# Sets automatically remove duplicate values, ensuring that all elements are unique.
a={'a','b','c','b','a','b'}
print(a)

{'b', 'c', 'a'}

In [ ]:
# Q13) Describe a scenario where using a tuple would be preferable over a list.?
# Use a tuple when you need an immutable collection of items, such as to store employe ID

In [18]:
# Q14) How does the “in” keyword work differently for lists and dictionaries?
# For lists, the in keyword checks for membership in the list.
A=[1,2,'abhi']
if 1 in A:
    print(True)
else:
    print(False)
# For dictionaries, the in keyword checks for the presence of a key.
b={'a':1,'b':2}
if "a" in b:
    print(True)
else:
    print(False)

True
True

In [ ]:
# Q15) Can you modify the elements of a tuple? Explain why or why not.
# No, you cannot modify the elements of a tuple because tuples are immutable. However, you can create a new tuple with modified values.

In [20]:
# Q16)What is a nested dictionary, and give an example of its use case.
# A nested dictionary is a dictionary that contains other dictionaries. For example:
my_dic={'Abhishek':{'Age':21,'roll no':66},'kartik':{'Age':20,'roll no':16}}
print(my_dic)
# Use case: Storing hierarchical data, such as employee records or organizational structures.

{'Abhishek': {'Age': 21, 'roll no': 66}, 'kartik': {'Age': 20, 'roll no': 16}}

In [ ]:
#Q18) In what situations are lists preferred over dictionaries?
# Order matters: The sequence of items is important (e.g., a to-do list, a series of events).
# Simple iteration: You need to go through all items one by one.
# Small datasets: Performance difference is negligible for small collections.
# Keys aren't needed: Your data doesn't have unique identifiers.
# Duplicates are allowed: You need to store the same item multiple times.

In [ ]:
 # Q19) Why are dictionaries considered unordered, and how does that affect data retrieval?
'''Dictionaries are unordered because they use hash tables for fast lookups, prioritizing speed over element order.  
This means you access items by key, not index, and the order of items when iterating is unpredictable and unreliable 
even if it appears to be preserved in some Python versions).  If order matters, use a list.'''

In [ ]:
# Q20)Explain the difference between a list and a dictionary in terms of data retrieval.
# In a list, data is accessed by index (e.g., my_list[0]),but requires knowing the position.

# In a dictionary, data is accessed by key (e.g., my_dict["key"]), is more flexible for lookups.

In [ ]:
# PRACTICAL QUESTION

In [21]:
# Q1) Write a code to create a string with your name and print it?
my_name='Abhishek'
print(my_name)

Abhishek

In [23]:
#Q2) Write a code to find the length of the string "Hello World"?
a="Hello World"
print(len(a))

11

In [26]:
# Q3) Write a code to slice the first 3 characters from the string "Python Programming"
a="Python Programming"
print(a[0:3])

Pyt

In [29]:
#Q4) Write a code to convert the string "hello" to uppercase?
a="hello"
a=a.upper()
print(a)

HELLO

In [31]:
#Q5) Write a code to replace the word "apple" with "orange" in the string "I like apple"?
a="I like apple"
b=a.replace("apple","orange")
print(b)

I like orange

In [32]:
#Q6) Write a code to create a list with numbers 1 to 5 and print it?
a=[]
for i in range(6):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5]

In [33]:
#Q7) Write a code to append the number 10 to the list [1, 2, 3, 4]?
a=[1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [36]:
#Q8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
a=[1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [37]:
#Q9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
a=['a', 'b', 'c', 'd']
print(a[1])

b

In [38]:
#Q10)Write a code to reverse the list [10, 20, 30, 40, 50]?
a=[10, 20, 30, 40, 50]
print(a[::-1])

[50, 40, 30, 20, 10]

In [39]:
 #Q11)Write a code to create a tuple with the elements 100, 200, 300 and print it.
a=(100,200,300)
print(a)

(100, 200, 300)

In [40]:
#Q12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
a=('red', 'green', 'blue', 'yellow')
print(a[1:])

('green', 'blue', 'yellow')

In [42]:
# Q13)Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
a=(10, 20, 5, 15)
print(min(a))

5

In [43]:
#Q14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
a=('dog', 'cat', 'rabbit')
print(a.index("cat"))

1

In [46]:
# Q15). Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
a=('orange','apple','kiwi')
if "kiwi" in a:
    print("Yes")
else:
    print("NOT Present")

Yes

In [47]:
# Q16). Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a={'a','b','c'}
print(a)

{'b', 'c', 'a'}

In [48]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
a={1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [49]:
#Q18) Write a code to remove the element 4 from the set {1, 2, 3, 4}?
a={1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [50]:
# Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
a={1, 2, 3}
b={3, 4, 5}
print(a|b)

{1, 2, 3, 4, 5}

In [51]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.?
a={1, 2, 3}
b={2, 3, 4}
print(a&b)

{2, 3}

In [52]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.?
a={'name':'Abhishek','age':11,'city':'Delhi'}
print(a)

{'name': 'Abhishek', 'age': 11, 'city': 'Delhi'}

In [53]:
# Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
a={'name': 'John', 'age': 25}
a["country"]="USA"
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [54]:
# Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
a={'name': 'Alice', 'age': 30}
print(a['name'])

Alice

In [56]:
# Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop('age')
print(a)

{'name': 'Bob', 'city': 'New York'}

In [57]:
# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.?
a={'name': 'Alice', 'city': 'Paris'}
if 'city' in a:
    print(True)
else:
    print(False)

True

In [63]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
a=[1,2,4]
b=(1,2,4)
c={1,2,4}
print(a,b,c)

[1, 2, 4] (1, 2, 4) {1, 2, 4}

In [64]:
# Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
a=[]

for i in range(5):
    a.append(random.randint(1,100))
    a.sort()
print(a)

[11, 31, 35, 47, 93]

In [71]:
# Q29. Write a code to combine two dictionaries into one and print the result.
a={'name':'abhishke'}
b={'roll no':44}
a.update(b)
print(a)

{'name': 'abhishke', 'roll no': 44}

In [74]:
# Q30. Write a code to convert a list of strings into a set.?
a=['h','e','l','l','o']
b=set(a)
print(type(b))
print(b)

<class 'set'>
{'h', 'o', 'l', 'e'}